@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=League+Spartan&family=Poppins&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #4f4557;
  padding: 40px;
}

.container {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: #e7cbcb;
  border-radius: 20px;
}

.canvas {
  width: 90%;
  max-width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #f6f1f1;
  padding: 0;
}

.cell {
  border: 1px solid #e7cbcb;
  flex: 1;
}

.row {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.cell {
  flex: 1;
}

.header {
  width: 100%;
  max-width: 400px;
  font-size: 60px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  color: #643843;
}

.h2,
.h3 {
  font-family: "Dancing Script", cursive;
  padding: 3px;
  font-weight: 900;
  font-size: 25px;
  color: #643843;
}

.buttons {
  width: 100%;
  max-width: 600px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.footer {
  width: 100%;
  max-width: 600px;
  padding: 25px;
  font-size: small;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  color: #e7cbcb;
}
